.card {
    width: 100%;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    height: 65px;
    align-items: center;
    border-bottom: solid 1px #f2f2f2;
    color: #572e8b;
    font-weight: bold;
    justify-content: space-between;
    font-size: 20px;
}

.create-button {
    background: linear-gradient(180deg, rgba(166,57,123,1), rgba(130,51,129,1) 100%);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
}

.create-button > span {
    height: 41px;
}

.create-button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.card-content {
    padding: 20px 0px;
}